.text_white {
	color: #fff;
}

.full_height{
	min-height: calc(100vh - 56px)
}

.component_wrapper {
	background-color: #141414;
	border: 1px solid #585858;
	padding: 1em;
	border-radius: 1em;
	margin-bottom: 1em;
}